.grandparent{
    border: 2px solid rgb(0, 0, 0);
  
    background-color:rgb(1, 1, 49);
}
.header{
    text-align: center;

}
h1{
    color: rgb(255, 255, 255);
}
p{
    color: darkcyan;
}
/* .parent1{
   
} */
.parent2{
    margin-top: 2rem;
    background-color: rgb(41, 42, 56);
    height: 100vh;
    width: 83%;
    border-radius: 0.8rem;


}
.section1{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.section2{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.align{
    display: flex;
    align-items: center;
    
}
.mainparent{
    display: flex;
    justify-content: center;
    
}
.parent2:hover{
    border: 5px solid rgb(5, 111, 146);
    
}
.parent2:hover section:hover{
    border: 2px dotted rgb(5, 111, 146);
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
 
}
h2 {
    text-align: left;
}
.para{
    text-align: left;

}
.picsection{
    display: flex;
margin-top: -0.8rem;
}
.germany{
    width: 45px;
    height: 45px;
    
}
.mypara2 p{
    margin: 0.5rem;
}
.myparas p{
    margin: 0.5rem;
    text-align: center;
}
h5{
    margin-left: 0.5rem;
    color: white;
}
p{
    color: gray;
}
img:hover{
    border: 2px solid blue;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    text-decoration: underline blue;
    text-underline-offset: 5px; 
    text-decoration-thickness: 2px 
  }
p:hover{
    text-decoration: underline blue;
    text-underline-offset: 5px; 
    text-decoration-thickness: 2px 
}
h3,h5{
    color: white;
}
h2{
    color: rgb(231, 221, 221);
}
.arrow{
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
   
}
.arrow:hover{
    color: blueviolet;
    text-decoration: none;
 
}

@media screen and (min-width:648px) {
    .parent2{
        display: flex;
    }
    .parent2{
        height: 48vh;
    }
    .section1{
        width: 50%;
    }
    .section2{
        width: 50%;
    }
    .align{
        margin-top: 2rem;
    }
}
@media screen and (max-width:560px) {
    .myparas p{
        font-size: 0.8rem;
    }
    .parent2{
        height: 90vh;
    }
}
@media screen and (min-width:330px) and (max-width:440px) {
    .parent2{
        height: 84vh;
    }
}